* {
  box-sizing: border-box;
}
body {
  background-color: #f4eedf;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.screen-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  overflow: hidden;
  outline: 1px solid #ffffff;
  background-color: #9bd4c3;

  transform: scale(1.5) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}
