.App {
  text-align: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(0deg, #edf5cc 0%, #f8f3e5 35%, #baf5e4 100%);
}

h1 {
  text-shadow: 4px 4px black;
}

.home-wrapper {
  margin: 100px 0px;
  max-width: 800px;
  background-color: #FFF;
  display: flex;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(0 0 8px #d8d8d8);
  border-radius: 22px;
}

.title {
  font-size: calc(20px + 2vmin);
  color: #9BD3C3;
  font-family: SupermercadoOne,Georgia, serif;
}

.content-wrapper {
  display: flex;
}

.content-text {
  font-size: 16px;
  color: #000;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-weight: 400;
  margin: 20px;
}

.question-text {
  font-size: 12px;
  color: #000;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;

}
.question-text:hover {
  text-decoration: underline;
}

.button-wrapper {
  text-align: center;
  justify-content: center;
  display: flex;
}

.button-pushable {
  background: #9BD3C3;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin:10px;
}
.button-front {
  display: block;
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 1.25rem;
  background: #b6dfd3;
  color: black;
  transform: translateY(-6px);
}

.button-pushable:active .button-front {
  transform: translateY(-2px);
}

.text-field {
  max-width: 300px;
  border-radius: 10px;
}

.footnote {
  font-size: 12px;
  color: #000;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-weight: 400;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column-reverse;
}

@font-face {
  font-family: 'SupermercadoOne';
  src: local('SupermercadoOne'), url(./fonts/SupermercadoOne-Regular.ttf) format('truetype');
}

.screen-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  overflow: hidden;
  outline: 1px solid #ffffff;
  background-color: #9bd4c3;

  transform: scale(1.5) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}

.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  font-size: 12px;
  padding: 4px;
  background: #ffe5d9;
  border-top: 1px solid #ffd7ba;
  color: #291d00;
  font-family: Helvetica, sans-serif;
}

.TextMessage_p {
  margin: 0;
  font-size: 12px;
  color: #291d00;
}

.dummy-body {
  background-color: #f4eedf;
  padding: 0;
  margin: 0;
  overflow: hidden;
}